.item {
  width: 100%;
  padding: 15px 15px 15px 10px;
  display: flex;
  font-family: "Roboto";

  img {
    width: 80px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.name {
  display: flex;
  font-size: 22px;
  opacity: 90%;
}

.info {
  opacity: 65%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.item:hover {
  background-color: rgb(224, 224, 245);
}
