@import "#/styles/colors.module.scss";
@import "#/styles/breakpoints.module.scss";

.item {
  width: 100%;
  padding: 15px 15px 15px 10px;
  display: flex;
  font-family: "Roboto";

  img {
    width: 80px;

    @include mobileL {
      width: 50px;
    }

    @include mobileS {
      display: none;
    }
  }

  @include mobileS {
    font-size: 12px;
    padding: 10px 10px 10px 10px;
  }

  @include mobileL {
    padding: 10px 10px 10px 8px;
  }
}

.wrapper {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.name {
  display: flex;
  font-size: 22px;
  opacity: 90%;

  @include tablet {
    font-size: 18px;
  }

  @include mobileS {
    font-size: 14px;
  }
}

.info {
  opacity: 65%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  @include mobileS {
    font-size: 12px;
  }

  @include mobileS {
    margin-top: 5px;
  }
}

.wrapper:hover {
  background-color: $lightpurple;
}

.delete {
  max-width: 25px;
  max-height: 25px;
  pointer-events: none;

  @include mobileL {
    max-width: 20px;
  }

  @include mobileS {
    max-width: 15px;
  }
}

.delete-button {
  cursor: pointer;
  top: 23px;
  right: 15px;
  position: absolute;
  
  @include mobileS {
    right: 10px;
    top: 15px;
  }
}

.edit {
  max-width: 25px;
  max-height: 25px;
  pointer-events: none;

  @include mobileL {
    max-width: 20px;
  }

  @include mobileS {
    max-width: 15px;
  }
}

.edit-button {
  cursor: pointer;
  top: 23px;
  right: 45px;
  position: absolute;

  @include mobileS {
    right: 32px;
    top: 15px;
  }
}

.owner {
  @include mobileS {
    display: none;
  }
}

.type {
  padding: 3px;
  border-radius: 4px;
  background: $tag;
  margin-top: -3px;
  margin-left: 10px;

  @include mobileS {
    display: none;
  }
}

.hidden-number {
  display: none;

  @include mobileS {
    display: block;
  }
}

.adress {
  @include mobileS {
    display: none;
  }
}