.modal-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.modal {
  position: relative;
  margin: auto auto;
  width: 400px;
  height: 400px;
  background: white;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0px;

  img {
    width: 20px;
  }
}

.button {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  font-family: "roboto";
  background: rgb(224, 224, 245);
}
