.header {
  padding: 20px 20px 10px 40px;
}

.title {
  font-size: 25px;
  font-family: "roboto";
}

.search {
  margin-top: 20px;
  background: rgb(240, 240, 240);
  border-radius: 3px;
  padding: 10px;
  width: 250px;
  font-size: 15px;
  font-family: "roboto";
}

.add {
  padding: 10px;
  margin-left: 15px;
  font-weight: 500;
  background: rgb(224, 224, 245);
}
